* {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

section {
  margin: 10px;
}

.german {
  display: flex;
  flex-direction: column;
}

.german div {
  height: 30px;
  width: 180px;
}

#german-one {
  background-color: black;
}

#german-two {
  background-color: red;
}

#german-three {
  background-color: gold;
}

.german:hover #german-one {
  background-color: red;
}

.german:hover #german-two {
  background-color: white;
}

.german:hover #german-three {
  background-color: green;
}

.french {
  display: flex;
  flex-direction: row;
}

.french div {
  height: 90px;
  width: 60px;
}

#french-one {
  background-color: blue;
}

#french-two {
  background-color: white;
}

#french-three {
  background-color: red;
}

.french:hover #french-one {
  background-color: green;
}

.french:hover #french-three {
  background-color: orange;
}

.japanese {
  display: flex;
  flex-direction: row;
}

#japanese-outer {
  width: 180px;
  height: 90px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#japanese-inner {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
}
